.radius {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  display: inline-block;
  line-height: 100px;
  text-align: center;
}
.radius1 {
  border-radius: 50%;
}
.radius2 {
  border-radius: 50px 20px;
}
.radius3 {
  border-radius: 100px 100px 0 0;
}
.radius4 {
  border-radius: 100% 10% 20px;
}
.radius5 {
  width: 310px;
  height: 192px;
  background: aquamarine;
  border-radius: 15px/70px;
}
